In [1]:
import pandas as pd
import numpy as np

from collections import Counter, OrderedDict
from config import filename_all, day_type, month_type

In [2]:
df = pd.read_excel(filename_all)

In [3]:
df.head()

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
0,2021-02-20,"02,15,26,31,37,38",2,15,26,31,37,38,Saturday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
1,2021-02-18,"01,17,18,30,38,42",1,17,18,30,38,42,Thursday,odd-odd-even-even-even-even,"Even: 4, Odd: 2"
2,2021-02-16,"05,08,10,16,36,37",5,8,10,16,36,37,Tuesday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
3,2021-02-13,"04,08,27,30,33,41",4,8,27,30,33,41,Saturday,even-even-odd-even-odd-odd,"Even: 3, Odd: 3"
4,2021-02-11,"03,12,16,21,23,30",3,12,16,21,23,30,Thursday,odd-even-even-odd-odd-even,"Even: 3, Odd: 3"

In [4]:
whole = []

In [29]:
list1 = list(df[df['Winning Numbers'].str.contains('09')]['Winning Numbers'])

In [30]:
len(list1)

257

In [6]:
list_split = [item.split(',') for item in list1]

In [7]:
for item in list_split:
    whole.extend(item)

In [8]:
whole = list(map(int,whole))

In [9]:
counte = Counter(whole)

In [10]:
ordered_count = OrderedDict(sorted(counte.items()))

In [11]:
ordered_count

OrderedDict([(1, 45),
             (2, 33),
             (3, 32),
             (4, 43),
             (5, 35),
             (6, 301),
             (7, 35),
             (8, 36),
             (9, 34),
             (10, 36),
             (11, 33),
             (12, 44),
             (13, 38),
             (14, 36),
             (15, 43),
             (16, 33),
             (17, 41),
             (18, 28),
             (19, 39),
             (20, 32),
             (21, 36),
             (22, 39),
             (23, 30),
             (24, 44),
             (25, 41),
             (26, 26),
             (27, 39),
             (28, 26),
             (29, 30),
             (30, 38),
             (31, 33),
             (32, 51),
             (33, 37),
             (34, 28),
             (35, 38),
             (36, 40),
             (37, 36),
             (38, 36),
             (39, 42),
             (40, 34),
             (41, 40),
             (42, 45)])

In [12]:
count_val = []
count_key = []

for key, value in ordered_count.items():
    count_key.append(key)
    count_val.append(value)

In [13]:
if len(set(list(np.linspace(1,43,num=43))).difference(set(count_key))) == 0:
    print("Equal")
else:
    print("Unequal")
    print(set(list(np.linspace(1,43,num=43))).difference(set(count_key)))

Unequal
{43.0}

In [14]:
ordered_count[43] = 0