In [1]:
import pandas as pd
import numpy as np
from config import filename_excel, train_log, test_size, rand_state, n_estimators, criterion, pickle_first, scaler_first

In [7]:
df = pd.read_excel(filename_excel)
col_list = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth']
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Day_Num'] = df['Date'].dt.weekday
df['Month_Num'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

In [9]:
df = df[['Date', 'Day_Num', 'Month_Num', 'Year', col_list[0]]]

In [10]:
df

           Date  Day_Num  Month_Num  Year  first
0    2020-09-08        1          9  2020      5
1    2020-09-05        5          9  2020      9
2    2020-09-03        3          9  2020      3
3    2020-09-01        1          9  2020     15
4    2020-08-29        5          8  2020     12
...         ...      ...        ...   ...    ...
1880 2007-01-20        5          1  2007      3
1881 2007-01-16        1          1  2007      1
1882 2007-01-13        5          1  2007     11
1883 2007-01-09        1          1  2007     11
1884 2007-01-06        5          1  2007      4

[1885 rows x 5 columns]

In [11]:
label_list = sorted(df[col_list[0]].unique())

In [12]:
label_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 26,
 27,
 28]

In [15]:
df[col_list[0]] = df[col_list[0]].replace(label_list, range(len(label_list)))

c:\env\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [28]:
df.loc[:,col_list[0]] = df.loc[:,col_list[0]].replace(label_list, list(range(len(label_list))))

In [30]:
np.arange(label_list[0],len(label_list))

NameError: name 'np' is not defined