In [27]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from ipywidgets import widgets
from collections import Counter, OrderedDict
from config import filename_all, day_type, month_type

In [39]:
df = pd.read_excel(filename_all)

In [40]:
df.head()

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
0,2021-02-23,"01,04,24,37,39,40",1,4,24,37,39,40,Tuesday,odd-even-even-odd-odd-even,"Even: 3, Odd: 3"
1,2021-02-20,"02,15,26,31,37,38",2,15,26,31,37,38,Saturday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
2,2021-02-18,"01,17,18,30,38,42",1,17,18,30,38,42,Thursday,odd-odd-even-even-even-even,"Even: 4, Odd: 2"
3,2021-02-16,"05,08,10,16,36,37",5,8,10,16,36,37,Tuesday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
4,2021-02-13,"04,08,27,30,33,41",4,8,27,30,33,41,Saturday,even-even-odd-even-odd-odd,"Even: 3, Odd: 3"

In [82]:
dff = pd.DataFrame(columns = ['Number', 'Key', 'Value'])
draw_holder = []
count_key = []
count_value = []
filter_draw = list(df[df['Winning Numbers'].str.contains('01')]['Winning Numbers'])
list_split = [item.split(',') for item in filter_draw]

for item in list_split:
    draw_holder.extend(item)

draw_holder = list(map(int,draw_holder))
counter = Counter(draw_holder)
counter[1] = 0

for i in counter.most_common():
    count_key.append(i[0])
    count_value.append(i[1])

holder = {'Number': 1, 'Key': count_key, 'Value': count_value}
dff = dff.append(pd.DataFrame(holder))

In [83]:
dff

   Number Key Value
0       1  24    52
1       1  22    48
2       1   4    46
3       1  31    46
4       1   6    45
5       1  41    45
6       1   5    42
7       1  17    41
8       1  28    41
9       1   7    41
10      1  12    41
11      1  11    40
12      1  37    39
13      1  15    39
14      1  19    39
15      1  39    38
16      1  40    38
17      1  18    38
18      1  38    38
19      1  42    38
20      1  32    38
21      1  23    38
22      1  34    38
23      1   2    37
24      1  14    35
25      1   8    34
26      1   3    34
27      1  13    33
28      1  16    33
29      1  10    32
30      1  35    32
31      1  27    32
32      1  30    31
33      1  20    30
34      1  36    29
35      1  29    29
36      1  25    28
37      1  21    26
38      1  26    26
39      1   9    26
40      1  33    24
41      1   1     0

In [70]:
count_value

[52, 48, 46, 46, 45]

In [71]:
counter.most_common(5)

[(24, 52), (22, 48), (4, 46), (31, 46), (6, 45)]

In [60]:
tup[1]

2

In [21]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/yankev/testing/master/datasets/nycflights.csv')
df = df.drop(df.columns[[0]], axis=1)

In [24]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [28]:
month = widgets.IntSlider(
    value=1.0,
    min=1.0,
    max=12.0,
    step=1.0,
    description='Month:',
    continuous_update=False
)

use_date = widgets.Checkbox(
    description='Date: ',
    value=True,
)

container = widgets.HBox(children=[use_date, month])

textbox = widgets.Dropdown(
    description='Airline:   ',
    value='DL',
    options=df['carrier'].unique().tolist()
)

origin = widgets.Dropdown(
    options=list(df['origin'].unique()),
    value='LGA',
    description='Origin Airport:',
)


# Assign an empty figure widget with two traces
trace1 = go.Histogram(x=df['arr_delay'], opacity=0.75, name='Arrival Delays')
trace2 = go.Histogram(x=df['dep_delay'], opacity=0.75, name='Departure Delays')
g = go.FigureWidget(data=[trace1, trace2],
                    layout=go.Layout(
                        title=dict(
                            text='NYC FlightDatabase'
                        ),
                        barmode='overlay'
                    ))

In [29]:
def validate():
    if origin.value in df['origin'].unique() and textbox.value in df['carrier'].unique():
        return True
    else:
        return False


def response(change):
    if validate():
        if use_date.value:
            filter_list = [i and j and k for i, j, k in
                           zip(df['month'] == month.value, df['carrier'] == textbox.value,
                               df['origin'] == origin.value)]
            temp_df = df[filter_list]

        else:
            filter_list = [i and j for i, j in
                           zip(df['carrier'] == 'DL', df['origin'] == origin.value)]
            temp_df = df[filter_list]
        x1 = temp_df['arr_delay']
        x2 = temp_df['dep_delay']
        with g.batch_update():
            g.data[0].x = x1
            g.data[1].x = x2
            g.layout.barmode = 'overlay'
            g.layout.xaxis.title = 'Delay in Minutes'
            g.layout.yaxis.title = 'Number of Delays'


origin.observe(response, names="value")
textbox.observe(response, names="value")
month.observe(response, names="value")
use_date.observe(response, names="value")

In [37]:
filter_ = [i and j and k for i, j, k in zip(df['month'] == 1, df['carrier'] == 'UA', df['origin'] == 'EWR')]

In [38]:
df[filter_]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
5,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
13,2013,1,1,558.0,-2.0,923.0,-14.0,UA,N53441,1124,EWR,SFO,361.0,2565,5.0,58.0
16,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0
24,2013,1,1,607.0,0.0,858.0,-17.0,UA,N53442,1077,EWR,MIA,157.0,1085,6.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26837,2013,1,31,2043.0,3.0,2321.0,15.0,UA,N78501,1169,EWR,MSY,193.0,1167,20.0,43.0
26838,2013,1,31,2044.0,9.0,2143.0,-11.0,UA,N18243,1243,EWR,BOS,39.0,200,20.0,44.0
26852,2013,1,31,2056.0,56.0,2229.0,50.0,UA,N15712,1094,EWR,CLE,68.0,404,20.0,56.0
26853,2013,1,31,2056.0,26.0,5.0,27.0,UA,N24729,1225,EWR,PBI,169.0,1023,20.0,56.0
26873,2013,1,31,2128.0,3.0,2233.0,-1.0,UA,N37263,1066,EWR,BOS,38.0,200,21.0,28.0

In [30]:
container2 = widgets.HBox([origin, textbox])
widgets.VBox([container,
              container2,
              g])

VBox(children=(HBox(children=(Checkbox(value=True, description='Date: '), IntSlider(value=1, continuous_update…

In [ ]:
[]