In [1]:
import numpy as np
import pandas as pd

In [6]:
df_task = pd.read_excel(r'C:\Users\jcaraan\OneDrive - DXC Production\Jared-kun\JDs\TaskUs\Exercises BIDS 2021.xlsx')
df_task.drop('Unnamed: 11', axis = 1, inplace = True)

df_task['Date'] = pd.to_datetime(df_task['Date'], format = '%Y-%m-%d')

df_task['Month'] = df_task['Date'].dt.month
df_task['Week']  = df_task['Date'].dt.isocalendar().week
df_task['Day']   = df_task['Date'].dt.day
df_task['Dweek'] = df_task['Date'].dt.dayofweek

df_task.drop('Date', axis = 1, inplace = True)

In [7]:
df_task.head()

,Employee ID,Email Address,No Error,M/I Error,Total,Error Rate,TeamLead,Age,Tenure,Shift,Month,Week,Day,Dweek
0,1923351,mark.antonio@jasondaman.com,603,57,660,0.0945,Buckey Barnes,30,7,MID,1,5,31,1
1,5555631,bernard.gana@jasondaman.com,612,57,669,0.0931,Buckey Barnes,45,10,PM,1,3,20,4
2,7838271,reymar.gasparillo@abc.com,727,57,784,0.0784,Buckey Barnes,37,5,MID,4,17,24,0
3,8209713,debonaire.liwanag@jasondaman.com,809,57,866,0.0705,Buckey Barnes,39,2,MID,2,9,27,0
4,6480269,maria.gagarin@jom.com,814,57,871,0.0700,Buckey Barnes,46,9,AM,5,21,27,5