In [53]:
import pandas as pd

from config import filename_excel, filename_2005, filename_1995

In [54]:
df = pd.read_excel(filename_excel)
df2 = pd.read_excel(filename_2005)
df3 = pd.read_excel(filename_1995)

final_df = pd.concat([df,df2]).drop_duplicates().reset_index(drop=True)

In [41]:
final_df.tail(10)

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
2067,2005-09-27,"06,23,30,31,33,38",6,23,30,31,33,38,Tuesday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
2068,2005-09-24,"01,04,10,18,24,39",1,4,10,18,24,39,Saturday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
2069,2005-09-20,"12,14,15,24,36,37",12,14,15,24,36,37,Tuesday,even-even-odd-even-even-odd,"Even: 4, Odd: 2"
2070,2005-09-17,"03,10,16,19,24,29",3,10,16,19,24,29,Saturday,odd-even-even-odd-even-odd,"Even: 3, Odd: 3"
2071,2005-09-13,"03,04,05,07,35,37",3,4,5,7,35,37,Tuesday,odd-even-odd-odd-odd-odd,"Even: 1, Odd: 5"
2072,2005-09-10,"01,02,13,17,18,35",1,2,13,17,18,35,Saturday,odd-even-odd-odd-even-odd,"Even: 2, Odd: 4"
2073,2005-09-06,"10,17,21,22,28,42",10,17,21,22,28,42,Tuesday,even-odd-odd-even-even-even,"Even: 4, Odd: 2"
2074,2005-09-03,"03,13,20,21,23,27",3,13,20,21,23,27,Saturday,odd-odd-even-odd-odd-odd,"Even: 1, Odd: 5"
2075,2005-08-30,"06,08,12,24,29,32",6,8,12,24,29,32,Tuesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
2076,2005-08-20,"15,19,22,24,26,39",15,19,22,24,26,39,Saturday,odd-odd-even-even-even-odd,"Even: 3, Odd: 3"

In [60]:
final_df.insert(0, 'Draw', range(checkpoint + 1891, ((checkpoint + 1891)-len(final_df)), -1))

In [42]:
checkpoint = final_df[final_df['Date'] == '2011-07-23'].index[0]

In [48]:
final_df[final_df['Date'] == '2011-07-23']

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
1391,1891,2011-07-23,"01,24,28,29,32,37",1,24,28,29,32,37,Saturday,odd-even-even-odd-even-odd,"Even: 3, Odd: 3"

In [44]:
checkpoint

1391

In [50]:
final_df.head()

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
0,3282,2020-12-29,"09,11,23,25,31,39",9,11,23,25,31,39,Tuesday,odd-odd-odd-odd-odd-odd,"Even: 0, Odd: 6"
1,3281,2020-12-26,"15,22,23,24,34,37",15,22,23,24,34,37,Saturday,odd-even-odd-even-even-odd,"Even: 3, Odd: 3"
2,3280,2020-12-24,"09,14,16,28,33,41",9,14,16,28,33,41,Thursday,odd-even-even-even-odd-odd,"Even: 3, Odd: 3"
3,3279,2020-12-22,"01,04,05,27,28,33",1,4,5,27,28,33,Tuesday,odd-even-odd-odd-even-odd,"Even: 2, Odd: 4"
4,3278,2020-12-19,"06,11,15,33,34,42",6,11,15,33,34,42,Saturday,even-odd-odd-odd-even-even,"Even: 3, Odd: 3"

In [52]:
final_df.tail()

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
2072,1210,2005-09-10,"01,02,13,17,18,35",1,2,13,17,18,35,Saturday,odd-even-odd-odd-even-odd,"Even: 2, Odd: 4"
2073,1209,2005-09-06,"10,17,21,22,28,42",10,17,21,22,28,42,Tuesday,even-odd-odd-even-even-even,"Even: 4, Odd: 2"
2074,1208,2005-09-03,"03,13,20,21,23,27",3,13,20,21,23,27,Saturday,odd-odd-even-odd-odd-odd,"Even: 1, Odd: 5"
2075,1207,2005-08-30,"06,08,12,24,29,32",6,8,12,24,29,32,Tuesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
2076,1206,2005-08-20,"15,19,22,24,26,39",15,19,22,24,26,39,Saturday,odd-odd-even-even-even-odd,"Even: 3, Odd: 3"

In [57]:
df3.sort_values(by = 'Date', ascending = False, inplace = True)

In [58]:
df3.insert(0, 'Draw', range(len(df3), 0, -1))

In [59]:
df3

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
51,52,1995-12-30,"1,4,14,15,20,39",1,4,14,15,20,39,Saturday,odd-even-even-odd-even-odd,"Even: 3, Odd: 3"
50,51,1995-12-27,"5,7,12,16,23,30",5,7,12,16,23,30,Wednesday,odd-odd-even-even-odd-even,"Even: 3, Odd: 3"
49,50,1995-12-23,"12,16,34,37,39,40",12,16,34,37,39,40,Saturday,even-even-even-odd-odd-even,"Even: 4, Odd: 2"
48,49,1995-12-20,"2,10,27,31,38,39",2,10,27,31,38,39,Wednesday,even-even-odd-odd-even-odd,"Even: 3, Odd: 3"
47,48,1995-12-16,"12,15,21,25,39,42",12,15,21,25,39,42,Saturday,even-odd-odd-odd-odd-even,"Even: 2, Odd: 4"
46,47,1995-12-13,"2,4,11,16,23,31",2,4,11,16,23,31,Wednesday,even-even-odd-even-odd-odd,"Even: 3, Odd: 3"
45,46,1995-12-09,"6,7,8,21,24,26",6,7,8,21,24,26,Saturday,even-odd-even-odd-even-even,"Even: 4, Odd: 2"
44,45,1995-12-06,"6,8,26,35,36,41",6,8,26,35,36,41,Wednesday,even-even-even-odd-even-odd,"Even: 4, Odd: 2"
43,44,1995-12-02,"7,8,11,15,18,22",7,8,11,15,18,22,Saturday,odd-even-odd-odd-even-even,"Even: 3, Odd: 3"
42,43,1995-11-29,"2,17,22,25,26,39",2,17,22,25,26,39,Wednesday,even-odd-even-odd-even-odd,"Even: 3, Odd: 3"
41,42,1995-11-25,"6,17,21,33,35,38",6,17,21,33,35,38,Saturday,even-odd-odd-odd-odd-even,"Even: 2, Odd: 4"
40,41,1995-11-22,"5,7,8,21,28,39",5,7,8,21,28,39,Wednesday,odd-odd-even-odd-even-odd,"Even: 2, Odd: 4"
39,40,1995-11-18,"3,11,19,32,39,42",3,11,19,32,39,42,Saturday,odd-odd-odd-even-odd-even,"Even: 2, Odd: 4"
38,39,1995-11-15,"4,6,7,14,15,36",4,6,7,14,15,36,Wednesday,even-even-odd-even-odd-even,"Even: 4, Odd: 2"
37,38,1995-11-11,"3,20,31,33,39,42",3,20,31,33,39,42,Saturday,odd-even-odd-odd-odd-even,"Even: 2, Odd: 4"
36,37,1995-11-08,"1,3,11,23,31,34",1,3,11,23,31,34,Wednesday,odd-odd-odd-odd-odd-even,"Even: 1, Odd: 5"
35,36,1995-11-01,"2,13,27,30,39,42",2,13,27,30,39,42,Wednesday,even-odd-odd-even-odd-even,"Even: 3, Odd: 3"
34,35,1995-10-25,"10,12,18,20,35,39",10,12,18,20,35,39,Wednesday,even-even-even-even-odd-odd,"Even: 4, Odd: 2"
33,34,1995-10-18,"6,10,14,34,39,42",6,10,14,34,39,42,Wednesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
32,33,1995-10-11,"9,14,20,22,29,35",9,14,20,22,29,35,Wednesday,odd-even-even-even-odd-odd,"Even: 3, Odd: 3"
31,32,1995-10-04,"7,10,17,24,26,36",7,10,17,24,26,36,Wednesday,odd-even-odd-even-even-even,"Even: 4, Odd: 2"
30,31,1995-09-27,"5,18,20,24,27,35",5,18,20,24,27,35,Wednesday,odd-even-even-even-odd-odd,"Even: 3, Odd: 3"
29,30,1995-09-20,"6,12,19,34,41,42",6,12,19,34,41,42,Wednesday,even-even-odd-even-odd-even,"Even: 4, Odd: 2"
28,29,1995-09-13,"4,8,9,27,28,39",4,8,9,27,28,39,Wednesday,even-even-odd-odd-even-odd,"Even: 3, Odd: 3"
27,28,1995-09-06,"16,18,23,31,38,41",16,18,23,31,38,41,Wednesday,even-even-odd-odd-even-odd,"Even: 3, Odd: 3"
26,27,1995-08-30,"2,3,9,21,33,36",2,3,9,21,33,36,Wednesday,even-odd-odd-odd-odd-even,"Even: 2, Odd: 4"
25,26,1995-08-23,"4,17,24,25,32,38",4,17,24,25,32,38,Wednesday,even-odd-even-odd-even-even,"Even: 4, Odd: 2"
24,25,1995-08-16,"3,9,10,14,26,41",3,9,10,14,26,41,Wednesday,odd-odd-even-even-even-odd,"Even: 3, Odd: 3"
23,24,1995-08-09,"3,8,17,23,29,37",3,8,17,23,29,37,Wednesday,odd-even-odd-odd-odd-odd,"Even: 1, Odd: 5"
22,23,1995-08-02,"2,7,16,19,23,30",2,7,16,19,23,30,Wednesday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
21,22,1995-07-26,"12,13,15,17,19,33",12,13,15,17,19,33,Wednesday,even-odd-odd-odd-odd-odd,"Even: 1, Odd: 5"
20,21,1995-07-19,"9,17,21,27,32,42",9,17,21,27,32,42,Wednesday,odd-odd-odd-odd-even-even,"Even: 2, Odd: 4"
19,20,1995-07-12,"3,5,7,12,18,25",3,5,7,12,18,25,Wednesday,odd-odd-odd-even-even-odd,"Even: 2, Odd: 4"
18,19,1995-07-05,"8,10,22,34,35,38",8,10,22,34,35,38,Wednesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
17,18,1995-06-28,"1,7,9,19,28,37",1,7,9,19,28,37,Wednesday,odd-odd-odd-odd-even-odd,"Even: 1, Odd: 5"
16,17,1995-06-21,"13,20,23,28,29,42",13,20,23,28,29,42,Wednesday,odd-even-odd-even-odd-even,"Even: 3, Odd: 3"
15,16,1995-06-14,"5,12,13,30,31,35",5,12,13,30,31,35,Wednesday,odd-even-odd-even-odd-odd,"Even: 2, Odd: 4"
14,15,1995-06-10,"1,3,13,21,36,40",1,3,13,21,36,40,Saturday,odd-odd-odd-odd-even-even,"Even: 2, Odd: 4"
13,14,1995-06-07,"6,7,11,15,18,31",6,7,11,15,18,31,Wednesday,even-odd-odd-odd-even-odd,"Even: 2, Odd: 4"
12,13,1995-05-31,"1,9,10,15,36,39",1,9,10,15,36,39,Wednesday,odd-odd-even-odd-even-odd,"Even: 2, Odd: 4"
11,12,1995-05-24,"16,21,22,28,29,33",16,21,22,28,29,33,Wednesday,even-odd-even-even-odd-odd,"Even: 3, Odd: 3"
10,11,1995-05-17,"10,20,30,32,34,42",10,20,30,32,34,42,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"
9,10,1995-05-10,"8,9,10,25,28,33",8,9,10,25,28,33,Wednesday,even-odd-even-odd-even-odd,"Even: 3, Odd: 3"
8,9,1995-05-03,"1,11,32,33,39,41",1,11,32,33,39,41,Wednesday,odd-odd-even-odd-odd-odd,"Even: 1, Odd: 5"
7,8,1995-04-26,"1,14,15,27,32,40",1,14,15,27,32,40,Wednesday,odd-even-odd-odd-even-even,"Even: 3, Odd: 3"
6,7,1995-04-19,"6,25,26,29,35,40",6,25,26,29,35,40,Wednesday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
5,6,1995-04-12,"1,4,18,25,32,40",1,4,18,25,32,40,Wednesday,odd-even-even-odd-even-even,"Even: 4, Odd: 2"
4,5,1995-04-05,"2,20,28,37,41,42",2,20,28,37,41,42,Wednesday,even-even-even-odd-odd-even,"Even: 4, Odd: 2"
3,4,1995-03-29,"1,9,25,26,37,40",1,9,25,26,37,40,Wednesday,odd-odd-odd-even-odd-even,"Even: 2, Odd: 4"
2,3,1995-03-22,"5,12,14,22,30,35",5,12,14,22,30,35,Wednesday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
1,2,1995-03-15,"8,14,24,30,36,40",8,14,24,30,36,40,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"
0,1,1995-03-08,"4,20,22,30,34,38",4,20,22,30,34,38,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"

In [61]:
new_df = pd.concat([final_df,df3]).drop_duplicates().reset_index(drop=True)

In [62]:
new_df.sample(10)

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
1600,1682,2010-03-06,"05,10,12,17,33,35",5,10,12,17,33,35,Saturday,odd-even-even-odd-odd-odd,"Even: 2, Odd: 4"
1914,1368,2007-03-27,"15,20,21,23,30,36",15,20,21,23,30,36,Tuesday,odd-even-odd-odd-even-even,"Even: 3, Odd: 3"
928,2354,2014-07-26,"06,11,26,33,38,41",6,11,26,33,38,41,Saturday,even-odd-even-odd-even-odd,"Even: 3, Odd: 3"
265,3017,2018-11-15,"10,18,25,32,33,38",10,18,25,32,33,38,Thursday,even-even-odd-even-odd-even,"Even: 4, Odd: 2"
100,3182,2019-12-17,"02,06,20,30,33,42",2,6,20,30,33,42,Tuesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
575,2707,2016-11-12,"04,05,12,14,15,39",4,5,12,14,15,39,Saturday,even-odd-even-even-odd-odd,"Even: 3, Odd: 3"
408,2874,2017-12-12,"15,17,18,20,24,40",15,17,18,20,24,40,Tuesday,odd-odd-even-even-even-even,"Even: 4, Odd: 2"
805,2477,2015-05-21,"04,08,10,14,29,33",4,8,10,14,29,33,Thursday,even-even-even-even-odd-odd,"Even: 4, Odd: 2"
1440,1842,2011-03-26,"07,15,20,22,23,40",7,15,20,22,23,40,Saturday,odd-odd-even-even-odd-even,"Even: 3, Odd: 3"
1222,2060,2012-08-25,"02,04,11,16,23,35",2,4,11,16,23,35,Saturday,even-even-odd-even-odd-odd,"Even: 3, Odd: 3"

,Draw,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
2099,30,1995-09-20,"6,12,19,34,41,42",6,12,19,34,41,42,Wednesday,even-even-odd-even-odd-even,"Even: 4, Odd: 2"
2100,29,1995-09-13,"4,8,9,27,28,39",4,8,9,27,28,39,Wednesday,even-even-odd-odd-even-odd,"Even: 3, Odd: 3"
2101,28,1995-09-06,"16,18,23,31,38,41",16,18,23,31,38,41,Wednesday,even-even-odd-odd-even-odd,"Even: 3, Odd: 3"
2102,27,1995-08-30,"2,3,9,21,33,36",2,3,9,21,33,36,Wednesday,even-odd-odd-odd-odd-even,"Even: 2, Odd: 4"
2103,26,1995-08-23,"4,17,24,25,32,38",4,17,24,25,32,38,Wednesday,even-odd-even-odd-even-even,"Even: 4, Odd: 2"
2104,25,1995-08-16,"3,9,10,14,26,41",3,9,10,14,26,41,Wednesday,odd-odd-even-even-even-odd,"Even: 3, Odd: 3"
2105,24,1995-08-09,"3,8,17,23,29,37",3,8,17,23,29,37,Wednesday,odd-even-odd-odd-odd-odd,"Even: 1, Odd: 5"
2106,23,1995-08-02,"2,7,16,19,23,30",2,7,16,19,23,30,Wednesday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
2107,22,1995-07-26,"12,13,15,17,19,33",12,13,15,17,19,33,Wednesday,even-odd-odd-odd-odd-odd,"Even: 1, Odd: 5"
2108,21,1995-07-19,"9,17,21,27,32,42",9,17,21,27,32,42,Wednesday,odd-odd-odd-odd-even-even,"Even: 2, Odd: 4"
2109,20,1995-07-12,"3,5,7,12,18,25",3,5,7,12,18,25,Wednesday,odd-odd-odd-even-even-odd,"Even: 2, Odd: 4"
2110,19,1995-07-05,"8,10,22,34,35,38",8,10,22,34,35,38,Wednesday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
2111,18,1995-06-28,"1,7,9,19,28,37",1,7,9,19,28,37,Wednesday,odd-odd-odd-odd-even-odd,"Even: 1, Odd: 5"
2112,17,1995-06-21,"13,20,23,28,29,42",13,20,23,28,29,42,Wednesday,odd-even-odd-even-odd-even,"Even: 3, Odd: 3"
2113,16,1995-06-14,"5,12,13,30,31,35",5,12,13,30,31,35,Wednesday,odd-even-odd-even-odd-odd,"Even: 2, Odd: 4"
2114,15,1995-06-10,"1,3,13,21,36,40",1,3,13,21,36,40,Saturday,odd-odd-odd-odd-even-even,"Even: 2, Odd: 4"
2115,14,1995-06-07,"6,7,11,15,18,31",6,7,11,15,18,31,Wednesday,even-odd-odd-odd-even-odd,"Even: 2, Odd: 4"
2116,13,1995-05-31,"1,9,10,15,36,39",1,9,10,15,36,39,Wednesday,odd-odd-even-odd-even-odd,"Even: 2, Odd: 4"
2117,12,1995-05-24,"16,21,22,28,29,33",16,21,22,28,29,33,Wednesday,even-odd-even-even-odd-odd,"Even: 3, Odd: 3"
2118,11,1995-05-17,"10,20,30,32,34,42",10,20,30,32,34,42,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"
2119,10,1995-05-10,"8,9,10,25,28,33",8,9,10,25,28,33,Wednesday,even-odd-even-odd-even-odd,"Even: 3, Odd: 3"
2120,9,1995-05-03,"1,11,32,33,39,41",1,11,32,33,39,41,Wednesday,odd-odd-even-odd-odd-odd,"Even: 1, Odd: 5"
2121,8,1995-04-26,"1,14,15,27,32,40",1,14,15,27,32,40,Wednesday,odd-even-odd-odd-even-even,"Even: 3, Odd: 3"
2122,7,1995-04-19,"6,25,26,29,35,40",6,25,26,29,35,40,Wednesday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
2123,6,1995-04-12,"1,4,18,25,32,40",1,4,18,25,32,40,Wednesday,odd-even-even-odd-even-even,"Even: 4, Odd: 2"
2124,5,1995-04-05,"2,20,28,37,41,42",2,20,28,37,41,42,Wednesday,even-even-even-odd-odd-even,"Even: 4, Odd: 2"
2125,4,1995-03-29,"1,9,25,26,37,40",1,9,25,26,37,40,Wednesday,odd-odd-odd-even-odd-even,"Even: 2, Odd: 4"
2126,3,1995-03-22,"5,12,14,22,30,35",5,12,14,22,30,35,Wednesday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
2127,2,1995-03-15,"8,14,24,30,36,40",8,14,24,30,36,40,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"
2128,1,1995-03-08,"4,20,22,30,34,38",4,20,22,30,34,38,Wednesday,even-even-even-even-even-even,"Even: 6, Odd: 0"