In [9]:
import pandas as pd
import numpy as np

from datetime import datetime
from scipy import stats
from config import *

In [34]:
df = pd.read_excel(filename_all)

In [35]:
df['Date']      = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Day_Num']   = df['Date'].dt.weekday
df['Year']      = df['Date'].dt.year

df = df[['Day_Num', 'Year', 'first']]

In [36]:
df['z_score'] = stats.zscore(df['first'])
df['z_score'] = np.abs(df['z_score'])

In [41]:
filtered = df['z_score'] > 3

In [43]:
df[~filtered]

      Day_Num  Year  first   z_score
0           3  2020      4  0.455326
1           1  2020      2  0.861952
2           5  2020      1  1.065265
3           3  2020      1  1.065265
4           1  2020      1  1.065265
...       ...   ...    ...       ...
2049        5  2005      1  1.065265
2050        1  2005     10  0.764552
2051        5  2005      3  0.658639
2052        1  2005      6  0.048700
2053        5  2005     15  1.781117

[2029 rows x 4 columns]

In [80]:
label_list = sorted(df[col_list[0]].unique())

In [82]:
df.loc[:,col_list[0]] = df.loc[:,col_list[0]].replace(label_list, factor_list)

In [81]:
factor_list = list(np.arange(0,len(label_list)))

In [83]:
df

           Date  Day_Num  Month_Num  Year  first
0    2020-09-08        1          9  2020      4
1    2020-09-05        5          9  2020      8
2    2020-09-03        3          9  2020      2
3    2020-09-01        1          9  2020     14
4    2020-08-29        5          8  2020     11
...         ...      ...        ...   ...    ...
1880 2007-01-20        5          1  2007      2
1881 2007-01-16        1          1  2007      0
1882 2007-01-13        5          1  2007     10
1883 2007-01-09        1          1  2007     10
1884 2007-01-06        5          1  2007      3

[1885 rows x 5 columns]