In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from ipywidgets import widgets
from collections import Counter, OrderedDict
from config import filename_all, day_type, month_type

In [3]:
df = pd.read_excel(filename_all)

In [4]:
df.head()

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
0,2021-02-23,"01,04,24,37,39,40",1,4,24,37,39,40,Tuesday,odd-even-even-odd-odd-even,"Even: 3, Odd: 3"
1,2021-02-20,"02,15,26,31,37,38",2,15,26,31,37,38,Saturday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
2,2021-02-18,"01,17,18,30,38,42",1,17,18,30,38,42,Thursday,odd-odd-even-even-even-even,"Even: 4, Odd: 2"
3,2021-02-16,"05,08,10,16,36,37",5,8,10,16,36,37,Tuesday,odd-even-even-even-even-odd,"Even: 4, Odd: 2"
4,2021-02-13,"04,08,27,30,33,41",4,8,27,30,33,41,Saturday,even-even-odd-even-odd-odd,"Even: 3, Odd: 3"

In [9]:
df_all = pd.DataFrame(columns = ['Number', 'Key', 'Value'])

for i in range(1,10):

    draw_holder = []
    count_key = []
    count_value = []
    filter_draw = list(df[df['Winning Numbers'].str.contains('0' + str(i))]['Winning Numbers'])
    list_split = [item.split(',') for item in filter_draw]

    for item in list_split:
        draw_holder.extend(item)

    draw_holder = list(map(int,draw_holder))
    counter = Counter(draw_holder)
    counter[1] = 0

    for j in counter.most_common():
        count_key.append(j[0])
        count_value.append(j[1])

In [11]:
df_all

   Number Key Value
0       1  24    52
1       1  22    48
2       1   4    46
3       1  31    46
4       1   6    45
..    ...  ..   ...
37      9  42    24
38      9  20    24
39      9  31    23
40      9  38    21
41      9   1     0

[378 rows x 3 columns]

In [60]:
tup[1]

2

In [21]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/yankev/testing/master/datasets/nycflights.csv')
df = df.drop(df.columns[[0]], axis=1)

In [24]:
df.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [34]:
number = widgets.IntSlider(
    value = 1.0,
    min = 1.0,
    max = 9.0,
    step = 1.0,
    description='Number:',
    continuous_update=False
)

container = widgets.HBox(children=[number])

# Assign an empty figure widget with two traces
trace1 = go.Bar(x = df_all['Key'], y = df_all['Value'])
g = go.FigureWidget(data=[trace1],
                    layout=go.Layout(
                        title=dict(
                            text='NYC FlightDatabase'
                        ),
                        barmode = 'stack'
                    ))

In [35]:
def response(change):
       
    filter_list = [i for i in zip(df_all['Number'] == number.value)]
    temp_df = df_all[filter_list]
    x1 = temp_df['Key']
    y1 = temp_df['Value']
    with g.batch_update():
        g.data[0].x = x1
        g.data[0].y = y1
        g.layout.xaxis.title = 'Delay in Minutes'
        g.layout.yaxis.title = 'Number of Delays'

number.observe(response, names="value")

In [36]:
widgets.VBox([container,
              g])

VBox(children=(HBox(children=(IntSlider(value=1, continuous_update=False, description='Number:', max=9, min=1)â€¦

In [ ]:
[]