In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from ipywidgets import widgets
from collections import Counter, OrderedDict
from config import filename_all, day_type, month_type

In [23]:
df = pd.read_excel(filename_all)

In [24]:
df.head()

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist
0,2021-02-27,"18,23,26,29,35,37",18,23,26,29,35,37,Saturday,even-odd-even-odd-odd-odd,"Even: 2, Odd: 4"
1,2021-02-25,"02,04,08,12,17,24",2,4,8,12,17,24,Thursday,even-even-even-even-odd-even,"Even: 5, Odd: 1"
2,2021-02-23,"01,04,24,37,39,40",1,4,24,37,39,40,Tuesday,odd-even-even-odd-odd-even,"Even: 3, Odd: 3"
3,2021-02-20,"02,15,26,31,37,38",2,15,26,31,37,38,Saturday,even-odd-even-odd-odd-even,"Even: 3, Odd: 3"
4,2021-02-18,"01,17,18,30,38,42",1,17,18,30,38,42,Thursday,odd-odd-even-even-even-even,"Even: 4, Odd: 2"

In [25]:
df_all = pd.DataFrame(columns = ['Number', 'Key', 'Value'])

for i in range(1,10):

    draw_holder = []
    count_key = []
    count_value = []
    filter_draw = list(df[df['Winning Numbers'].str.contains('0' + str(i))]['Winning Numbers'])
    list_split = [item.split(',') for item in filter_draw]

    for item in list_split:
        draw_holder.extend(item)

    draw_holder = list(map(int,draw_holder))
    counter = Counter(draw_holder)
    counter[i] = 0

    for j in counter.most_common():
        count_key.append(j[0])
        count_value.append(j[1])

    holder = {'Number': i, 'Key': count_key, 'Value': count_value}
    df_all = df_all.append(pd.DataFrame(holder))

In [26]:

df_all[df_all['Number'] == 2]

   Number Key Value
0       2  31    51
1       2  15    46
2       2  20    46
3       2  37    44
4       2  12    43
5       2   5    43
6       2  22    42
7       2   3    42
8       2   4    41
9       2  26    41
10      2  39    41
11      2  17    40
12      2  10    40
13      2  41    39
14      2  36    38
15      2  42    38
16      2  21    38
17      2   8    37
18      2  35    37
19      2  14    37
20      2   9    37
21      2   1    37
22      2  24    36
23      2   7    36
24      2  13    35
25      2  40    35
26      2  34    35
27      2  27    34
28      2  25    34
29      2  28    33
30      2   6    33
31      2  18    32
32      2  19    32
33      2  38    31
34      2  30    31
35      2  33    31
36      2  32    31
37      2  16    29
38      2  11    29
39      2  23    28
40      2  29    27
41      2   2     0

In [34]:
number = widgets.IntSlider(
    value = 1.0,
    min = 1.0,
    max = 9.0,
    step = 1.0,
    description='Number:',
    continuous_update=False
)

container = widgets.HBox(children=[number])

# Assign an empty figure widget with two traces
trace1 = go.Bar(x = df_all[df_all['Number'] == 1]['Key'], y = df_all[df_all['Number'] == 1]['Value'])
g = go.FigureWidget(data=[trace1],
                    layout=go.Layout(
                        title=dict(
                            text='Digit occurrences with each other'
                        ),
                        barmode = 'stack'
                    ))

In [35]:
def response(change):
       
    filter_list = [i for i in df_all['Number'] == number.value]
    temp_df = df_all[filter_list]
    x1 = temp_df['Key']
    y1 = temp_df['Value']
    with g.batch_update():
        g.data[0].x = x1
        g.data[0].y = y1
        g.layout.xaxis.title = 'Lotto remaining digits'
        g.layout.yaxis.title = 'Number of occurrence with that digit'

number.observe(response, names="value")

In [36]:
widgets.VBox([container,
              g])

VBox(children=(HBox(children=(IntSlider(value=1, continuous_update=False, description='Number:', max=9, min=1)…

In [ ]:
[]