In [20]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from ipywidgets import widgets
from collections import Counter, OrderedDict
from plotly.subplots import make_subplots
from config import filename_all, filename_default, day_type, month_type, month_list
from IPython.display import display_html

In [21]:
def display_side_by_side(*args, month_list = month_list):
    html_str=''
    temp_str=''
    for df in range(len(args)):
        temp_str = args[df].to_html()
        temp_str = temp_str.replace('<table border="1" class="dataframe">\n  <thead>', '<table border="1" class="dataframe">\n <caption>' + month_list[df] + '</caption> <thead>')
        html_str+=temp_str
    display_html(html_str.replace('table border="1" class="dataframe"','table style="display:inline; padding: 10px;"'),raw=True)

## Data

In [2]:
df = pd.read_excel(filename_all)

In [3]:
df = df.rename(columns = {'Winning Numbers': 'Draw'})

In [4]:
df['Month'] = df['Date'].dt.strftime('%B')

In [5]:
df['Day'] = df['Date'].dt.strftime('%d')

## 2021 Top Numbers

In [6]:
filt = (df['Date'] >= '2021-01') & (df['Date'] < '2022-01')
df_2021 = df.loc[filt]

In [7]:
df_2021

,Date,Draw,first,second,third,fourth,fifth,sixth,Day_Name,Odd_Even,Odd_Even_Dist,Month,Day
27,2021-12-30,"02,13,14,29,32,41",2,13,14,29,32,41,Thursday,even-odd-even-odd-even-odd,"Even: 3, Odd: 3",December,30
28,2021-12-28,"17,23,24,27,38,40",17,23,24,27,38,40,Tuesday,odd-odd-even-odd-even-even,"Even: 3, Odd: 3",December,28
29,2021-12-23,"03,08,12,13,15,27",3,8,12,13,15,27,Thursday,odd-even-even-odd-odd-odd,"Even: 2, Odd: 4",December,23
30,2021-12-21,"05,07,18,33,35,40",5,7,18,33,35,40,Tuesday,odd-odd-even-odd-odd-even,"Even: 2, Odd: 4",December,21
31,2021-12-18,"08,10,17,29,35,39",8,10,17,29,35,39,Saturday,even-even-odd-odd-odd-odd,"Even: 2, Odd: 4",December,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,2021-01-12,"01,06,27,33,38,40",1,6,27,33,38,40,Tuesday,odd-even-odd-odd-even-even,"Even: 3, Odd: 3",January,12
176,2021-01-09,"08,09,17,25,33,34",8,9,17,25,33,34,Saturday,even-odd-odd-odd-odd-even,"Even: 2, Odd: 4",January,09
177,2021-01-07,"03,09,11,16,25,26",3,9,11,16,25,26,Thursday,odd-odd-odd-even-odd-even,"Even: 2, Odd: 4",January,07
178,2021-01-05,"07,25,27,31,34,36",7,25,27,31,34,36,Tuesday,odd-odd-odd-odd-even-even,"Even: 2, Odd: 4",January,05
179,2021-01-02,"07,08,09,23,35,39",7,8,9,23,35,39,Saturday,odd-even-odd-odd-odd-odd,"Even: 1, Odd: 5",January,02

#### All Time

In [8]:
total_first = df_2021.groupby('first', as_index = False)['Draw'].count()
total_first = total_first.rename(columns={"first": "key"})

total_second = df_2021.groupby('second', as_index = False)['Draw'].count()
total_second = total_second.rename(columns={"second": "key"})

total_third = df_2021.groupby('third', as_index = False)['Draw'].count()
total_third = total_third.rename(columns={"third": "key"})

total_fourth = df_2021.groupby('fourth', as_index = False)['Draw'].count()
total_fourth = total_fourth.rename(columns={"fourth": "key"})

total_fifth = df_2021.groupby('fifth', as_index = False)['Draw'].count()
total_fifth = total_fifth.rename(columns={"fifth": "key"})

total_sixth = df_2021.groupby('sixth', as_index = False)['Draw'].count()
total_sixth = total_sixth.rename(columns={"sixth": "key"})

In [9]:
total_all_num = pd.concat([total_first, total_second, total_third, total_fourth, total_fifth, total_sixth]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num = total_all_num.rename(columns = {'key': 'Number'})

In [10]:
df_2021_all_top = total_all_num.nlargest(6, 'Draw')

In [11]:
df_2021_all_top

    Number  Draw
14      15    33
1        2    30
3        4    30
24      25    29
8        9    28
16      17    28

#### Monthly

In [12]:
filt_jan = df_2021['Month'] == 'January'
df_2021_jan = df_2021.loc[filt_jan]

filt_feb = df_2021['Month'] == 'February'
df_2021_feb = df_2021.loc[filt_feb]

filt_mar = df_2021['Month'] == 'March'
df_2021_mar = df_2021.loc[filt_mar]

filt_apr = df_2021['Month'] == 'April'
df_2021_apr = df_2021.loc[filt_apr]

filt_may = df_2021['Month'] == 'May'
df_2021_may = df_2021.loc[filt_may]

filt_jun = df_2021['Month'] == 'June'
df_2021_jun = df_2021.loc[filt_jun]

filt_jul = df_2021['Month'] == 'July'
df_2021_jul = df_2021.loc[filt_jul]

filt_aug = df_2021['Month'] == 'August'
df_2021_aug = df_2021.loc[filt_aug]

filt_sep = df_2021['Month'] == 'September'
df_2021_sep = df_2021.loc[filt_sep]

filt_oct = df_2021['Month'] == 'October'
df_2021_oct = df_2021.loc[filt_oct]

filt_nov = df_2021['Month'] == 'November'
df_2021_nov = df_2021.loc[filt_nov]

filt_dec = df_2021['Month'] == 'December'
df_2021_dec = df_2021.loc[filt_dec]

In [17]:
#January
total_first_jan = df_2021_jan.groupby('first', as_index = False)['Draw'].count()
total_first_jan = total_first_jan.rename(columns={"first": "key"})

total_second_jan = df_2021_jan.groupby('second', as_index = False)['Draw'].count()
total_second_jan = total_second_jan.rename(columns={"second": "key"})

total_third_jan = df_2021_jan.groupby('third', as_index = False)['Draw'].count()
total_third_jan = total_third_jan.rename(columns={"third": "key"})

total_fourth_jan = df_2021_jan.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_jan = total_fourth_jan.rename(columns={"fourth": "key"})

total_fifth_jan = df_2021_jan.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_jan = total_fifth_jan.rename(columns={"fifth": "key"})

total_sixth_jan = df_2021_jan.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_jan = total_sixth_jan.rename(columns={"sixth": "key"})

#February
total_first_feb = df_2021_feb.groupby('first', as_index = False)['Draw'].count()
total_first_feb = total_first_feb.rename(columns={"first": "key"})

total_second_feb = df_2021_feb.groupby('second', as_index = False)['Draw'].count()
total_second_feb = total_second_feb.rename(columns={"second": "key"})

total_third_feb = df_2021_feb.groupby('third', as_index = False)['Draw'].count()
total_third_feb = total_third_feb.rename(columns={"third": "key"})

total_fourth_feb = df_2021_feb.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_feb = total_fourth_feb.rename(columns={"fourth": "key"})

total_fifth_feb = df_2021_feb.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_feb = total_fifth_feb.rename(columns={"fifth": "key"})

total_sixth_feb = df_2021_feb.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_feb = total_sixth_feb.rename(columns={"sixth": "key"})

#March
total_first_mar = df_2021_mar.groupby('first', as_index = False)['Draw'].count()
total_first_mar = total_first_mar.rename(columns={"first": "key"})

total_second_mar = df_2021_mar.groupby('second', as_index = False)['Draw'].count()
total_second_mar = total_second_mar.rename(columns={"second": "key"})

total_third_mar = df_2021_mar.groupby('third', as_index = False)['Draw'].count()
total_third_mar = total_third_mar.rename(columns={"third": "key"})

total_fourth_mar = df_2021_mar.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_mar = total_fourth_mar.rename(columns={"fourth": "key"})

total_fifth_mar = df_2021_mar.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_mar = total_fifth_mar.rename(columns={"fifth": "key"})

total_sixth_mar = df_2021_mar.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_mar = total_sixth_mar.rename(columns={"sixth": "key"})

#April
total_first_apr = df_2021_apr.groupby('first', as_index = False)['Draw'].count()
total_first_apr = total_first_apr.rename(columns={"first": "key"})

total_second_apr = df_2021_apr.groupby('second', as_index = False)['Draw'].count()
total_second_apr = total_second_apr.rename(columns={"second": "key"})

total_third_apr = df_2021_apr.groupby('third', as_index = False)['Draw'].count()
total_third_apr = total_third_apr.rename(columns={"third": "key"})

total_fourth_apr = df_2021_apr.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_apr = total_fourth_apr.rename(columns={"fourth": "key"})

total_fifth_apr = df_2021_apr.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_apr = total_fifth_apr.rename(columns={"fifth": "key"})

total_sixth_apr = df_2021_apr.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_apr = total_sixth_apr.rename(columns={"sixth": "key"})

#May
total_first_may = df_2021_may.groupby('first', as_index = False)['Draw'].count()
total_first_may = total_first_may.rename(columns={"first": "key"})

total_second_may = df_2021_may.groupby('second', as_index = False)['Draw'].count()
total_second_may = total_second_may.rename(columns={"second": "key"})

total_third_may = df_2021_may.groupby('third', as_index = False)['Draw'].count()
total_third_may = total_third_may.rename(columns={"third": "key"})

total_fourth_may = df_2021_may.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_may = total_fourth_may.rename(columns={"fourth": "key"})

total_fifth_may = df_2021_may.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_may = total_fifth_may.rename(columns={"fifth": "key"})

total_sixth_may = df_2021_may.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_may = total_sixth_may.rename(columns={"sixth": "key"})

#June
total_first_jun = df_2021_jun.groupby('first', as_index = False)['Draw'].count()
total_first_jun = total_first_jun.rename(columns={"first": "key"})

total_second_jun = df_2021_jun.groupby('second', as_index = False)['Draw'].count()
total_second_jun = total_second_jun.rename(columns={"second": "key"})

total_third_jun = df_2021_jun.groupby('third', as_index = False)['Draw'].count()
total_third_jun = total_third_jun.rename(columns={"third": "key"})

total_fourth_jun = df_2021_jun.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_jun = total_fourth_jun.rename(columns={"fourth": "key"})

total_fifth_jun = df_2021_jun.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_jun = total_fifth_jun.rename(columns={"fifth": "key"})

total_sixth_jun = df_2021_jun.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_jun = total_sixth_jun.rename(columns={"sixth": "key"})

#July
total_first_jul = df_2021_jul.groupby('first', as_index = False)['Draw'].count()
total_first_jul = total_first_jul.rename(columns={"first": "key"})

total_second_jul = df_2021_jul.groupby('second', as_index = False)['Draw'].count()
total_second_jul = total_second_jul.rename(columns={"second": "key"})

total_third_jul = df_2021_jul.groupby('third', as_index = False)['Draw'].count()
total_third_jul = total_third_jul.rename(columns={"third": "key"})

total_fourth_jul = df_2021_jul.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_jul = total_fourth_jul.rename(columns={"fourth": "key"})

total_fifth_jul = df_2021_jul.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_jul = total_fifth_jul.rename(columns={"fifth": "key"})

total_sixth_jul = df_2021_jul.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_jul = total_sixth_jul.rename(columns={"sixth": "key"})

#August
total_first_aug = df_2021_aug.groupby('first', as_index = False)['Draw'].count()
total_first_aug = total_first_aug.rename(columns={"first": "key"})

total_second_aug = df_2021_aug.groupby('second', as_index = False)['Draw'].count()
total_second_aug = total_second_aug.rename(columns={"second": "key"})

total_third_aug = df_2021_aug.groupby('third', as_index = False)['Draw'].count()
total_third_aug = total_third_aug.rename(columns={"third": "key"})

total_fourth_aug = df_2021_aug.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_aug = total_fourth_aug.rename(columns={"fourth": "key"})

total_fifth_aug = df_2021_aug.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_aug = total_fifth_aug.rename(columns={"fifth": "key"})

total_sixth_aug = df_2021_aug.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_aug = total_sixth_aug.rename(columns={"sixth": "key"})

#September
total_first_sep = df_2021_sep.groupby('first', as_index = False)['Draw'].count()
total_first_sep = total_first_sep.rename(columns={"first": "key"})

total_second_sep = df_2021_sep.groupby('second', as_index = False)['Draw'].count()
total_second_sep = total_second_sep.rename(columns={"second": "key"})

total_third_sep = df_2021_sep.groupby('third', as_index = False)['Draw'].count()
total_third_sep = total_third_sep.rename(columns={"third": "key"})

total_fourth_sep = df_2021_sep.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_sep = total_fourth_sep.rename(columns={"fourth": "key"})

total_fifth_sep = df_2021_sep.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_sep = total_fifth_sep.rename(columns={"fifth": "key"})

total_sixth_sep = df_2021_sep.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_sep = total_sixth_sep.rename(columns={"sixth": "key"})

#October
total_first_oct = df_2021_oct.groupby('first', as_index = False)['Draw'].count()
total_first_oct = total_first_oct.rename(columns={"first": "key"})

total_second_oct = df_2021_oct.groupby('second', as_index = False)['Draw'].count()
total_second_oct = total_second_oct.rename(columns={"second": "key"})

total_third_oct = df_2021_oct.groupby('third', as_index = False)['Draw'].count()
total_third_oct = total_third_oct.rename(columns={"third": "key"})

total_fourth_oct = df_2021_oct.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_oct = total_fourth_oct.rename(columns={"fourth": "key"})

total_fifth_oct = df_2021_oct.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_oct = total_fifth_oct.rename(columns={"fifth": "key"})

total_sixth_oct = df_2021_oct.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_oct = total_sixth_oct.rename(columns={"sixth": "key"})

#November
total_first_nov = df_2021_nov.groupby('first', as_index = False)['Draw'].count()
total_first_nov = total_first_nov.rename(columns={"first": "key"})

total_second_nov = df_2021_nov.groupby('second', as_index = False)['Draw'].count()
total_second_nov = total_second_nov.rename(columns={"second": "key"})

total_third_nov = df_2021_nov.groupby('third', as_index = False)['Draw'].count()
total_third_nov = total_third_nov.rename(columns={"third": "key"})

total_fourth_nov = df_2021_nov.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_nov = total_fourth_nov.rename(columns={"fourth": "key"})

total_fifth_nov = df_2021_nov.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_nov = total_fifth_nov.rename(columns={"fifth": "key"})

total_sixth_nov = df_2021_nov.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_nov = total_sixth_nov.rename(columns={"sixth": "key"})

#December
total_first_dec = df_2021_dec.groupby('first', as_index = False)['Draw'].count()
total_first_dec = total_first_dec.rename(columns={"first": "key"})

total_second_dec = df_2021_dec.groupby('second', as_index = False)['Draw'].count()
total_second_dec = total_second_dec.rename(columns={"second": "key"})

total_third_dec = df_2021_dec.groupby('third', as_index = False)['Draw'].count()
total_third_dec = total_third_dec.rename(columns={"third": "key"})

total_fourth_dec = df_2021_dec.groupby('fourth', as_index = False)['Draw'].count()
total_fourth_dec = total_fourth_dec.rename(columns={"fourth": "key"})

total_fifth_dec = df_2021_dec.groupby('fifth', as_index = False)['Draw'].count()
total_fifth_dec = total_fifth_dec.rename(columns={"fifth": "key"})

total_sixth_dec = df_2021_dec.groupby('sixth', as_index = False)['Draw'].count()
total_sixth_dec = total_sixth_dec.rename(columns={"sixth": "key"})

In [ ]:
#December
total_all_num_dec = pd.concat([total_first_dec, total_second_dec, total_third_dec, total_fourth_dec, total_fifth_dec, total_sixth_dec]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_dec = total_all_num_dec.rename(columns = {'key': 'Number'})

In [18]:
#January
total_all_num_jan = pd.concat([total_first_jan, total_second_jan, total_third_jan, total_fourth_jan, total_fifth_jan, total_sixth_jan]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_jan = total_all_num_jan.rename(columns = {'key': 'Number'})

#February
total_all_num_feb = pd.concat([total_first_feb, total_second_feb, total_third_feb, total_fourth_feb, total_fifth_feb, total_sixth_feb]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_feb = total_all_num_feb.rename(columns = {'key': 'Number'})

#March
total_all_num_mar = pd.concat([total_first_mar, total_second_mar, total_third_mar, total_fourth_mar, total_fifth_mar, total_sixth_mar]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_mar = total_all_num_mar.rename(columns = {'key': 'Number'})

#April
total_all_num_apr = pd.concat([total_first_apr, total_second_apr, total_third_apr, total_fourth_apr, total_fifth_apr, total_sixth_apr]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_apr = total_all_num_apr.rename(columns = {'key': 'Number'})

#May
total_all_num_may = pd.concat([total_first_may, total_second_may, total_third_may, total_fourth_may, total_fifth_may, total_sixth_may]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_may = total_all_num_may.rename(columns = {'key': 'Number'})

#June
total_all_num_jun = pd.concat([total_first_jun, total_second_jun, total_third_jun, total_fourth_jun, total_fifth_jun, total_sixth_jun]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_jun = total_all_num_jun.rename(columns = {'key': 'Number'})

#July
total_all_num_jul = pd.concat([total_first_jul, total_second_jul, total_third_jul, total_fourth_jul, total_fifth_jul, total_sixth_jul]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_jul = total_all_num_jul.rename(columns = {'key': 'Number'})

#August
total_all_num_aug = pd.concat([total_first_aug, total_second_aug, total_third_aug, total_fourth_aug, total_fifth_aug, total_sixth_aug]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_aug = total_all_num_aug.rename(columns = {'key': 'Number'})

#September
total_all_num_sep = pd.concat([total_first_sep, total_second_sep, total_third_sep, total_fourth_sep, total_fifth_sep, total_sixth_sep]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_sep = total_all_num_sep.rename(columns = {'key': 'Number'})

#October
total_all_num_oct = pd.concat([total_first_oct, total_second_oct, total_third_oct, total_fourth_oct, total_fifth_oct, total_sixth_oct]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_oct = total_all_num_oct.rename(columns = {'key': 'Number'})

#November
total_all_num_nov = pd.concat([total_first_nov, total_second_nov, total_third_nov, total_fourth_nov, total_fifth_nov, total_sixth_nov]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_nov = total_all_num_nov.rename(columns = {'key': 'Number'})

#December
total_all_num_dec = pd.concat([total_first_dec, total_second_dec, total_third_dec, total_fourth_dec, total_fifth_dec, total_sixth_dec]).groupby(['key'], as_index = False)['Draw'].sum()
total_all_num_dec = total_all_num_dec.rename(columns = {'key': 'Number'})

In [22]:
display_side_by_side(total_all_num_jan,total_all_num_feb,total_all_num_mar,total_all_num_apr,total_all_num_may,total_all_num_jun,total_all_num_jul,total_all_num_aug,total_all_num_sep,total_all_num_oct,total_all_num_nov,total_all_num_dec)

,Number,Draw
0,1,3
1,2,2
2,3,2
3,4,2
4,5,1
5,6,2
6,7,2
7,8,2
8,9,5
9,10,1
10,11,1
11,12,1
12,13,2
13,16,3
14,17,2
15,18,2
16,19,2
17,20,1
18,21,1
19,22,3
20,23,2
21,24,1
22,25,3
23,26,3
24,27,3
25,28,2
26,29,2
27,30,3
28,31,1
29,32,2
30,33,3
31,34,2
32,35,4
33,36,1
34,38,1
35,39,1
36,40,2
37,41,2
,Number,Draw
0,1,2
1,2,3
2,3,2
3,4,3
4,5,3
5,7,1
6,8,3
7,9,1
8,10,2
9,12,3
10,13,2
11,15,1
12,16,2
13,17,4
14,18,4
15,19,1
16,20,2
17,21,1
18,23,2
19,24,2
20,25,1
21,26,3
22,27,2
23,29,1
24,30,4
25,31,1
26,33,1
27,35,1
28,36,1
29,37,6
30,38,3
31,39,1
32,40,1
33,41,1
34,42,1
,Number,Draw
0,1,1
1,2,3
2,4,6
3,9,2
4,10,1
5,12,2
6,13,1
7,14,1
8,15,4
9,16,1
10,17,3
11,18,2
12,19,3
13,20,3
14,21,2
15,22,2
16,23,1
17,24,4
18,25,6
19,27,1
20,28,4
21,29,2
22,30,2
23,31,2
24,32,4
25,33,1
26,34,1
27,36,1
28,37,1
29,38,6
30,39,3
31,40,1
32,42,1
,Number,Draw
0,1,1
1,2,3
2,3,2
3,5,3
4,6,1
5,7,1
6,9,2
7,10,2
8,11,1
9,12,3
10,13,1
11,14,2
12,15,1
13,16,2
14,17,1
15,18,3
16,19,5
17,20,1
18,21,3
19,22,2
20,23,1
21,24,1
22,25,2
23,26,2
24,27,1
25,30,1
26,31,1
27,32,2
28,33,2
29,35,2
30,36,1
31,37,4
32,39,2
33,40,1
34,41,2
35,42,1
,Number,Draw
0,1,1
1,2,4
2,3,1
3,4,2
4,5,3
5,6,3
6,7,1
7,8,2
8,9,1
9,11,3
10,12,2
11,13,2
12,14,5
13,15,3
14,19,1
15,20,2
16,21,2
17,22,3
18,23,2
19,24,2
20,25,1
21,26,4
22,27,2
23,28,1
24,29,3
25,31,1
26,32,2
27,33,1
28,34,1
29,35,2
30,36,4
31,37,1
32,39,1
33,40,3
34,41,4
35,42,2
,Number,Draw
0,1,5
1,2,2
2,3,1
3,4,2
4,5,2
5,6,5
6,7,3
7,8,2
8,9,3
9,11,1
10,12,1
11,13,2
12,14,3
13,15,2
14,16,1
15,17,1
16,20,2
17,21,3
18,22,2
19,23,2
20,24,3
21,26,2
22,27,1
23,28,1
24,29,1
25,30,1
26,31,2
27,32,4
28,33,1
29,34,1
30,35,3
31,36,2
32,37,1
33,38,2
34,39,1
35,40,1
36,41,3
37,42,3
,Number,Draw
0,1,2
1,2,1
2,3,2
3,4,3
4,6,2
5,7,3
6,8,2
7,9,3
8,10,1
9,11,1
10,12,3
11,14,1
12,15,2
13,17,4
14,18,2
15,19,2
16,20,3
17,21,3
18,24,1
19,25,3
20,26,1
21,27,3
22,28,2
23,29,4
24,30,1
25,31,3
26,32,4
27,33,3
28,34,4
29,35,2
30,36,2
31,38,1
32,39,6
33,40,1
34,41,2
35,42,1
,Number,Draw
0,1,3
1,2,3
2,3,3
3,4,1
4,5,2
5,7,1
6,8,2
7,9,3
8,10,1
9,11,2
10,12,1
11,13,1
12,14,2
13,15,5
14,16,2
15,17,4
16,19,2
17,20,2
18,21,1
19,22,2
20,24,1
21,25,3
22,26,4
23,27,1
24,29,5
25,31,2
26,32,2
27,33,4
28,34,3
29,36,1
30,37,2
31,40,1
32,41,4
33,42,2
,Number,Draw
0,1,1
1,2,5
2,3,1
3,6,3
4,7,5
5,8,3
6,9,3
7,10,3
8,11,1
9,12,3
10,13,1
11,14,2
12,15,4
13,16,1
14,17,2
15,18,2
16,19,2
17,20,1
18,23,3
19,24,1
20,25,1
21,26,1
22,27,2
23,28,2
24,29,2
25,30,3
26,31,1
27,33,2
28,34,4
29,35,4
30,36,1
31,40,5
32,41,2
33,42,1
,Number,Draw
0,1,1
1,2,1
2,3,3
3,4,4
4,5,1
5,7,3
6,9,2
7,10,1
8,11,1
9,12,2
10,13,2
11,14,2
12,15,5
13,16,4
14,17,2
15,18,2
16,19,3
17,22,4
18,23,1
19,24,1
20,25,5
21,26,4
22,27,1
23,28,3
24,29,1
25,30,2
26,32,4
27,33,3
28,36,2
29,37,2
30,38,2
31,39,1
32,41,1
33,42,2
,Number,Draw
0,1,3
1,2,1
2,4,4
3,5,1
4,6,1
5,7,1
6,8,1
7,9,2
8,10,2
9,11,1
10,12,2
11,13,2
12,14,2
13,15,4
14,16,2
15,17,2
16,19,3
17,20,1
18,21,4
19,22,3
20,23,1
21,24,3
22,25,2
23,26,1
24,27,2
25,28,1
26,29,2
27,30,3
28,31,2
29,33,2
30,34,2
31,35,5
32,36,3
33,37,1
34,38,3
35,40,1
36,41,1
37,42,1
,Number,Draw
0,1,1
1,2,2
2,3,2
3,4,3
4,5,4
5,6,1
6,7,2
7,8,4
8,9,1
9,10,1
10,11,3
11,12,1
12,13,3
13,14,1
14,15,2
15,17,3
16,18,2
17,19,1
18,20,1
19,21,2
20,22,1
21,23,3
22,24,1
23,25,2
24,27,2
25,28,2
26,29,2
27,30,2
28,31,1
29,32,2
30,33,1
31,35,2
32,36,1
33,38,2
34,39,2
35,40,3
36,41,2
37,42,1