In [2]:
import pandas as pd
import numpy as np
import operator

from config import filename_excel

In [3]:
df = pd.read_excel(filename_excel)

df.drop(columns=['Unnamed: 0'], inplace=True)

df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Day_Name'] = df['Date'].dt.day_name()

In [4]:
df

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name
0,2020-03-14,"08,21,24,27,32,38",8,21,24,27,32,38,Saturday
1,2020-03-12,"13,17,25,27,30,41",13,17,25,27,30,41,Thursday
2,2020-03-10,"10,21,28,32,33,36",10,21,28,32,33,36,Tuesday
3,2020-03-07,"03,05,09,11,14,17",3,5,9,11,14,17,Saturday
4,2020-03-05,"14,15,17,20,24,39",14,15,17,20,24,39,Thursday
...,...,...,...,...,...,...,...,...,...
417,2017-06-29,"04,08,14,21,38,40",4,8,14,21,38,40,Thursday
418,2017-06-27,"06,10,20,30,34,35",6,10,20,30,34,35,Tuesday
419,2017-06-24,"02,07,13,21,40,41",2,7,13,21,40,41,Saturday
420,2017-06-22,"06,12,13,16,21,27",6,12,13,16,21,27,Thursday
421,2017-06-20,"11,12,13,14,24,25",11,12,13,14,24,25,Tuesday

In [53]:
def get_combi(df):
    
    last_prob = 0.0
    num_col = ['first']
    num_high = []
    probs = {}
    
    if df.iloc[0].Day_Name == 'Saturday':
        next_day = 'Tuesday'
    elif df.iloc[0].Day_Name == 'Tuesday':
        next_day = 'Thursday'
    else:
        next_day = 'Saturday'
    
    filt = df['Day_Name'] == next_day
    df_filtered = df[filt]
    
    for i in num_col:
        num_list = list(df_filtered[i].unique())
        
        if i != 'first':
            filt = df_filtered[]
            
        for j in num_list:
            count = ((df_filtered[i].values == j).sum()) / len(df_filtered)
            print(count)
            probs[j] = count
            
        num_high.append(max(stats.items(), key=operator.itemgetter(1))[0])
        last_prob = max(stats.items(), key=operator.itemgetter(1))[1]
        prob = {}
            
    return probs

In [54]:
get_combi(df)

{}

In [59]:
stats = {'a':1000, 'b':3000, 'c': 100, 'd':3000}
max(stats.items(), key=operator.itemgetter(1))[1]

3000