In [43]:
import pandas as pd
import plotly.graph_objects as go

from plotly.subplots import make_subplots
from config import filename_excel
from pandas.api.types import CategoricalDtype

In [45]:
weekday = [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
day_type = CategoricalDtype(categories=weekday, ordered=True)

df = pd.read_excel(filename_excel)
df.drop(columns=['Unnamed: 0'], inplace=True)

## Data Transformation

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Day_Name'] = df['Date'].dt.day_name()
df

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name
0,2020-03-14,"08,21,24,27,32,38",8,21,24,27,32,38,Saturday
1,2020-03-12,"13,17,25,27,30,41",13,17,25,27,30,41,Thursday
2,2020-03-10,"10,21,28,32,33,36",10,21,28,32,33,36,Tuesday
3,2020-03-07,"03,05,09,11,14,17",3,5,9,11,14,17,Saturday
4,2020-03-05,"14,15,17,20,24,39",14,15,17,20,24,39,Thursday
...,...,...,...,...,...,...,...,...,...
417,2017-06-29,"04,08,14,21,38,40",4,8,14,21,38,40,Thursday
418,2017-06-27,"06,10,20,30,34,35",6,10,20,30,34,35,Tuesday
419,2017-06-24,"02,07,13,21,40,41",2,7,13,21,40,41,Saturday
420,2017-06-22,"06,12,13,16,21,27",6,12,13,16,21,27,Thursday
421,2017-06-20,"11,12,13,14,24,25",11,12,13,14,24,25,Tuesday

## New DataFrame

In [5]:
filt = df['Date'] >= df['Date'].max() - pd.DateOffset(months=6)
df_year = df[filt]
df_new = df_year.copy()

In [15]:
df_new

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,first_mean,second_mean,third_mean,fourth_mean,fifth_mean,sixth_mean
0,2020-03-14,"08,21,24,27,32,38",8,21,24,27,32,38,Saturday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
1,2020-03-12,"13,17,25,27,30,41",13,17,25,27,30,41,Thursday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
2,2020-03-10,"10,21,28,32,33,36",10,21,28,32,33,36,Tuesday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
3,2020-03-07,"03,05,09,11,14,17",3,5,9,11,14,17,Saturday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
4,2020-03-05,"14,15,17,20,24,39",14,15,17,20,24,39,Thursday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2019-09-24,"06,16,25,33,34,35",6,16,25,33,34,35,Tuesday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
74,2019-09-21,"03,06,26,31,32,42",3,6,26,31,32,42,Saturday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
75,2019-09-19,"07,21,23,33,34,39",7,21,23,33,34,39,Thursday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
76,2019-09-17,"03,04,05,18,37,42",3,4,5,18,37,42,Tuesday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923
77,2019-09-14,"03,26,33,34,38,42",3,26,33,34,38,42,Saturday,6.75641,12.24359,18.435897,24.538462,31.448718,37.076923

In [7]:
df_new['first_mean'] = df_new['first'].mean()
df_new['second_mean'] = df_new['second'].mean()
df_new['third_mean'] = df_new['third'].mean()
df_new['fourth_mean'] = df_new['fourth'].mean()
df_new['fifth_mean'] = df_new['fifth'].mean()
df_new['sixth_mean'] = df_new['sixth'].mean()

In [49]:
df_grp = df_new.groupby('Day_Name')

## First GroupBy

In [50]:
df_grp_first = pd.DataFrame({'first_count': df_grp['first'].value_counts()}).reset_index()
df_grp_first['Day_Name'] = df_grp_first['Day_Name'].astype(day_type)
df_grp_first = df_grp_first.sort_values(by=['Day_Name','first']).reset_index(drop=True)
df_grp_first

    Day_Name  first  first_count
0    Tuesday      1            2
1    Tuesday      2            3
2    Tuesday      3            4
3    Tuesday      5            4
4    Tuesday      6            2
5    Tuesday      7            2
6    Tuesday     10            2
7    Tuesday     11            2
8    Tuesday     13            1
9    Tuesday     14            1
10   Tuesday     16            1
11   Tuesday     18            2
12  Thursday      1            2
13  Thursday      2            3
14  Thursday      3            1
15  Thursday      4            2
16  Thursday      5            6
17  Thursday      6            1
18  Thursday      7            3
19  Thursday      8            1
20  Thursday      9            1
21  Thursday     11            3
22  Thursday     13            1
23  Thursday     14            1
24  Thursday     16            1
25  Saturday      1            2
26  Saturday      3            4
27  Saturday      4            4
28  Saturday      5            4
29  Saturday      6            1
30  Saturday      7            2
31  Saturday      8            3
32  Saturday     10            2
33  Saturday     12            1
34  Saturday     14            1
35  Saturday     15            1
36  Saturday     16            1

## Second GroupBy

In [53]:
df_grp_second = pd.DataFrame({'second_count': df_grp['second'].value_counts()}).reset_index()
df_grp_second['Day_Name'] = df_grp_second['Day_Name'].astype(day_type)
df_grp_second = df_grp_second.sort_values(by=['Day_Name','second']).reset_index(drop=True)
df_grp_second

    Day_Name  second  second_count
0    Tuesday       3             1
1    Tuesday       4             1
2    Tuesday       5             2
3    Tuesday       6             2
4    Tuesday       7             3
5    Tuesday       8             1
6    Tuesday       9             1
7    Tuesday      10             1
8    Tuesday      11             1
9    Tuesday      12             2
10   Tuesday      14             1
11   Tuesday      15             1
12   Tuesday      16             1
13   Tuesday      20             3
14   Tuesday      21             3
15   Tuesday      23             1
16   Tuesday      25             1
17  Thursday       2             1
18  Thursday       4             3
19  Thursday       5             1
20  Thursday       6             3
21  Thursday       7             1
22  Thursday       8             1
23  Thursday       9             1
24  Thursday      10             2
25  Thursday      11             1
26  Thursday      13             2
27  Thursday      14             2
28  Thursday      15             2
29  Thursday      16             2
30  Thursday      17             1
31  Thursday      18             1
32  Thursday      21             1
33  Thursday      30             1
34  Saturday       5             3
35  Saturday       6             1
36  Saturday       8             2
37  Saturday       9             4
38  Saturday      10             4
39  Saturday      11             2
40  Saturday      16             1
41  Saturday      17             1
42  Saturday      18             3
43  Saturday      20             2
44  Saturday      21             1
45  Saturday      24             1
46  Saturday      26             1

## Third GroupBy

In [54]:
df_grp_third = pd.DataFrame({'third_count': df_grp['third'].value_counts()}).reset_index()
df_grp_third['Day_Name'] = df_grp_third['Day_Name'].astype(day_type)
df_grp_third = df_grp_third.sort_values(by=['Day_Name','third']).reset_index(drop=True)
df_grp_third

    Day_Name  third  third_count
0    Tuesday      5            2
1    Tuesday      9            1
2    Tuesday     10            2
3    Tuesday     11            1
4    Tuesday     14            1
5    Tuesday     15            2
6    Tuesday     16            4
7    Tuesday     17            2
8    Tuesday     20            2
9    Tuesday     22            2
10   Tuesday     23            1
11   Tuesday     24            1
12   Tuesday     25            1
13   Tuesday     26            1
14   Tuesday     28            2
15   Tuesday     33            1
16  Thursday      9            1
17  Thursday     10            2
18  Thursday     11            1
19  Thursday     12            2
20  Thursday     13            2
21  Thursday     14            1
22  Thursday     15            2
23  Thursday     16            2
24  Thursday     17            5
25  Thursday     18            1
26  Thursday     19            1
27  Thursday     23            1
28  Thursday     24            1
29  Thursday     25            1
30  Thursday     27            1
31  Thursday     28            1
32  Thursday     31            1
33  Saturday      9            2
34  Saturday     10            1
35  Saturday     12            1
36  Saturday     13            1
37  Saturday     14            2
38  Saturday     16            1
39  Saturday     17            2
40  Saturday     19            1
41  Saturday     20            1
42  Saturday     22            1
43  Saturday     23            3
44  Saturday     24            2
45  Saturday     25            3
46  Saturday     26            2
47  Saturday     29            1
48  Saturday     31            1
49  Saturday     33            1

## Fourth GroupBy

In [55]:
df_grp_fourth = pd.DataFrame({'fourth_count': df_grp['fourth'].value_counts()}).reset_index()
df_grp_fourth['Day_Name'] = df_grp_fourth['Day_Name'].astype(day_type)
df_grp_fourth = df_grp_fourth.sort_values(by=['Day_Name','fourth']).reset_index(drop=True)
df_grp_fourth

    Day_Name  fourth  fourth_count
0    Tuesday       9             1
1    Tuesday      14             1
2    Tuesday      17             1
3    Tuesday      18             1
4    Tuesday      19             2
5    Tuesday      20             1
6    Tuesday      22             2
7    Tuesday      23             3
8    Tuesday      24             1
9    Tuesday      25             2
10   Tuesday      26             1
11   Tuesday      27             2
12   Tuesday      28             1
13   Tuesday      30             2
14   Tuesday      32             2
15   Tuesday      33             1
16   Tuesday      34             1
17   Tuesday      35             1
18  Thursday      14             2
19  Thursday      15             1
20  Thursday      17             1
21  Thursday      18             1
22  Thursday      19             3
23  Thursday      20             2
24  Thursday      22             2
25  Thursday      23             1
26  Thursday      25             2
27  Thursday      27             2
28  Thursday      29             1
29  Thursday      30             2
30  Thursday      31             2
31  Thursday      33             2
32  Thursday      34             1
33  Thursday      37             1
34  Saturday      11             1
35  Saturday      14             2
36  Saturday      15             2
37  Saturday      17             1
38  Saturday      18             1
39  Saturday      20             1
40  Saturday      21             1
41  Saturday      24             2
42  Saturday      25             1
43  Saturday      26             3
44  Saturday      27             2
45  Saturday      28             1
46  Saturday      30             1
47  Saturday      31             2
48  Saturday      34             4
49  Saturday      37             1

## Fifth GroupBy

In [56]:
df_grp_fifth = pd.DataFrame({'fifth_count': df_grp['fifth'].value_counts()}).reset_index()
df_grp_fifth['Day_Name'] = df_grp_fifth['Day_Name'].astype(day_type)
df_grp_fifth = df_grp_fifth.sort_values(by=['Day_Name','fifth']).reset_index(drop=True)
df_grp_fifth

    Day_Name  fifth  fifth_count
0    Tuesday     18            1
1    Tuesday     23            1
2    Tuesday     24            2
3    Tuesday     25            1
4    Tuesday     26            1
5    Tuesday     27            1
6    Tuesday     30            1
7    Tuesday     31            3
8    Tuesday     33            3
9    Tuesday     34            1
10   Tuesday     35            1
11   Tuesday     36            1
12   Tuesday     37            1
13   Tuesday     38            5
14   Tuesday     39            2
15   Tuesday     40            1
16  Thursday     20            2
17  Thursday     21            2
18  Thursday     24            1
19  Thursday     25            1
20  Thursday     26            2
21  Thursday     27            1
22  Thursday     30            3
23  Thursday     31            3
24  Thursday     32            1
25  Thursday     33            1
26  Thursday     34            1
27  Thursday     35            1
28  Thursday     36            2
29  Thursday     37            1
30  Thursday     38            3
31  Thursday     39            1
32  Saturday     14            1
33  Saturday     18            1
34  Saturday     19            1
35  Saturday     26            1
36  Saturday     27            2
37  Saturday     28            1
38  Saturday     29            1
39  Saturday     31            2
40  Saturday     32            4
41  Saturday     35            2
42  Saturday     36            1
43  Saturday     37            3
44  Saturday     38            4
45  Saturday     39            2

## Sixth GroupBy

In [57]:
df_grp_sixth = pd.DataFrame({'sixth_count': df_grp['sixth'].value_counts()}).reset_index()
df_grp_sixth['Day_Name'] = df_grp_sixth['Day_Name'].astype(day_type)
df_grp_sixth = df_grp_sixth.sort_values(by=['Day_Name','sixth']).reset_index(drop=True)
df_grp_sixth

    Day_Name  sixth  sixth_count
0    Tuesday     27            1
1    Tuesday     31            1
2    Tuesday     32            1
3    Tuesday     34            2
4    Tuesday     35            3
5    Tuesday     36            2
6    Tuesday     37            1
7    Tuesday     38            3
8    Tuesday     39            1
9    Tuesday     40            5
10   Tuesday     41            2
11   Tuesday     42            4
12  Thursday     21            1
13  Thursday     22            1
14  Thursday     25            1
15  Thursday     33            1
16  Thursday     34            2
17  Thursday     35            2
18  Thursday     36            1
19  Thursday     37            1
20  Thursday     39            2
21  Thursday     40            6
22  Thursday     41            3
23  Thursday     42            5
24  Saturday     17            1
25  Saturday     27            1
26  Saturday     28            1
27  Saturday     29            1
28  Saturday     30            1
29  Saturday     34            2
30  Saturday     37            3
31  Saturday     38            4
32  Saturday     39            3
33  Saturday     40            1
34  Saturday     41            1
35  Saturday     42            7

## Visuals