In [3]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

from plotly.subplots import make_subplots
from config import filename_all, visual_log, day_type

## Data

In [4]:
df = pd.read_excel(filename_all)

In [15]:
df_grp = df.groupby('Day_Name').count()

In [16]:
df_grp

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Odd_Even,Odd_Even_Dist
Day_Name,,,,,,,,,,
Saturday,774,774,774,774,774,774,774,774,774,774
Thursday,550,550,550,550,550,550,550,550,550,550
Tuesday,774,774,774,774,774,774,774,774,774,774
Wednesday,43,43,43,43,43,43,43,43,43,43